<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快乐相随</title>
    <link rel="stylesheet" th:href="@{/kuailexs/index/index.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/plugins/layui-v2.5.5/css/layui.css}">
</head>
<body style="padding: 20px; background-color: #F2F2F2;">
<div  class="layui-container">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item layui-this"><a href="">博客翻译</a></li>
        <li class="layui-nav-item"><a href="">论坛</a></li>
        <li class="layui-nav-item"><a href="">博客</a></li>
        <li class="layui-nav-item"><a href="">关于</a></li>
    </ul>
</div>
<div  class="layui-container">
    <div class="layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">快乐相随-个人小站</div>
                <div class="layui-card-body">
                    暂时放的ubuntu touch ubports 相关资讯，以后会改为子模块
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"><a th:href="@{/mirror.ubports/blog/listPage?type=2}">ubports 博客翻译</a></div>
                <div class="layui-card-body">
                    ubports.com 站点下的博客栏目下的 Blogs
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"><a th:href="@{/mirror.ubports/blog/listPage?type=1}">ubports 问答翻译</a></div>
                <div class="layui-card-body">
                    ubports.com 站点下的博客栏目下的 Ubuntu Touch Q&A
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"><a th:href="@{/mirror.ubports/device/listPage}">第三方适配</a></div>
                <div class="layui-card-body">
                    包含 ubports 未收录的适配信息。欢迎提交新记录。请加Q群 ：Ubuntu phone  450712533
                </div>
            </div>
        </div>
        <div class="layui-clear"></div>
    </div>
    <div class="layui-clear"></div>
</div>
<script th:attr="src=@{/plugins/layui-v2.5.5/layui.all.js}"></script>
</body>
</html>